<h4 class="dt-details__title"><a href="{{basePath}}/committee/{{committee.committee_id}}">{{committee.name}}</a></h4>

<div class="dt-details__sect">
  <table>
    <caption>Recipient information</caption>
    {{#dtDetailsTableRow "Recipient name"~}}
      {{payee_name}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Recipient city, state and ZIP code"~}}
      {{payee_city}}, {{payee_state}}  {{zipCode payee_zip}}
    {{/dtDetailsTableRow}}
  </table>
</div>

<div class="dt-details__sect">
  <table>
    <caption>Transaction information</caption>
    {{#dtDetailsTableRow "Activity or event identifier"~}}
      {{{activity_or_event}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Description"~}}
      {{disbursement_purpose}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Report year"~}}
      {{{report_year}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Disbursement date"~}}
      {{{datetime event_purpose_date format="pretty"}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Federal allocated share"~}}
      {{{currency federal_share}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Nonfederal allocated share"~}}
      {{{currency nonfederal_share}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Combined federal and nonfederal share total amount"~}}
      {{{currency disbursement_amount}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Allocated activity or event year-to-date"~}}
      {{{currency event_amount_year_to_date}}}
    {{/dtDetailsTableRow}}
  </table>
</div>

<div class="dt-details__sect">
  <table>
    <caption>Committee information</caption>
    {{#dtDetailsTableRow "Name"}}
      <a href="{{basePath}}/committee/{{committee.committee_id}}">{{committee.name}}</a>
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Designation"~}}
      {{committee.designation_full}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Most recent treasurer"~}}
      {{committee.treasurer_name}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Committee city, state and ZIP code"~}}
      {{committee.city}}, {{committee.state}}  {{zipCode committee.zip}}
    {{/dtDetailsTableRow}}
  </table>
</div>
