<div class="panel__row">
  <h4 class="panel__title">Disbursement information</h4>
  <table>
    {{#panelRow "Committee name"~}}
      <a href="{{basePath}}/committee/{{committee_id}}">{{committee_name}}</a>
    {{/panelRow}}
      {{ currency transaction_amount }}
    {{#panelRow "Amount"~}}
    {{/panelRow}}
      {{ report_year }}
    {{#panelRow "Report year"~}}
    {{/panelRow}}
      {{ datetime transaction_date format=pretty }}
    {{#panelRow "Transaction date"~}}
    {{/panelRow}}
    {{#panelRow "Transaction type"~}}
      {{transaction_type}}
    {{/panelRow}}
      {{ communication_class }}
    {{#panelRow "Communication class"~}}
    {{/panelRow}}
      {{ communication_type }}
    {{#panelRow "Communication type"~}}
    {{/panelRow}}
      {{ purpose }}
    {{#panelRow "Purpose"~}}
    {{/panelRow}}
  </table>
</div>

<div class="panel__row">
  <h4 class="panel__title">Candidate information</h4>
  <table>
    {{#panelRow "Candidate"~}}
      <a href="{{basePath}}/candidate/{{candidate_id}}/">{{candidate_name}}</a> ({{decodeSupportOppose support_oppose_indicator}})
    {{/panelRow}}
      {{ decodeParty candidate_party_affiliation }}
    {{#panelRow "Party"~}}
    {{/panelRow}}
      {{ decodeOffice candidate_office }}
    {{#panelRow "Office"~}}
    {{/panelRow}}
    {{#if candidate_office_state }}
        {{ decodeState candidate_office_state }}
      {{#panelRow "State"~}}
      {{/panelRow}}
    {{/if}}
    {{#if candidate_office_district}}
        {{ candidate_office_district }}
      {{#panelRow "District"~}}
      {{/panelRow}}
    {{/if}}
  </table>
</div>
