<div class="panel__row">
  <div class="panel__heading">
    <h4 class="panel__title"><a href="{{basePath}}/committee/{{committee_id}}">{{name}}</a></h4>
  </div>
  <table>
    {{#panelRow "Committee type"}}
      {{committee_type_full}}
    {{/panelRow}}
    {{#panelRow "Designation"}}
      {{designation_full}}
    {{/panelRow}}
    {{#if party_full}}
      {{#panelRow "Political party"}}
        {{party_full}}
      {{/panelRow}}
    {{/if}}
    {{#panelRow "Most recent treasurer"}}
      {{treasurer_name}}
    {{/panelRow}}
    {{#panelRow "State"}}
      {{state}}
    {{/panelRow}}
    {{#panelRow "Registration date"}}
      {{datetime first_f1_date format="pretty"}}
    {{/panelRow}}
    {{#if organization_type_full}}
      {{#panelRow "Organization type"}}
        {{organization_type_full}}
      {{/panelRow}}
    {{/if}}
    {{#if sponsor_candidate_list}}
      {{#panelRow "Leadership PAC sponsor"}}
        {{#each sponsor_candidate_list}}
          <a href="{{basePath}}/candidate/{{ sponsor_candidate_id }}/"><span class="leadership_pac_sponsor_name">{{ sponsor_candidate_name }}</span> ({{ sponsor_candidate_id }})</a>{{#unless @last}};<br />{{/unless}}
        {{/each}}
      {{/panelRow}}
    {{/if}}
  </table>
</div>
