<div class="dt-details__sect">
  <table>
    <caption class="details__title">Disbursement information</caption>
    {{#dtDetailsTableRow "Committee name"~}}
      <a href="{{basePath}}/committee/{{committee_id}}">{{committee_name}}</a>
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Amount"~}}
      {{currency transaction_amount}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Report year"~}}
      {{report_year}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Transaction date"~}}
      {{datetime transaction_date format=pretty}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Transaction type"~}}
      {{transaction_type}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Communication class"~}}
      {{communication_class}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Communication type"~}}
      {{communication_type}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Purpose"~}}
      {{purpose}}
    {{/dtDetailsTableRow}}
  </table>
</div>

<div class="dt-details__sect">
  <table>
    <caption class="details__title">Candidate information</caption>
    {{#dtDetailsTableRow "Candidate"~}}
      <a href="{{basePath}}/candidate/{{candidate_id}}/">{{candidate_name}}</a> ({{decodeSupportOppose support_oppose_indicator}})
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Party"~}}
      {{decodeParty candidate_party_affiliation}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Office"~}}
      {{decodeOffice candidate_office}}
    {{/dtDetailsTableRow}}
    {{#if candidate_office_state}}
      {{#dtDetailsTableRow "State"~}}
        {{decodeState candidate_office_state}}
      {{/dtDetailsTableRow}}
    {{/if}}
    {{#if candidate_office_district}}
      {{#dtDetailsTableRow "District"~}}
        {{candidate_office_district}}
      {{/dtDetailsTableRow}}
    {{/if}}
  </table>
</div>
