{{!--
Template for Debts datatable details row
---------------------
This shows fields available on the Schedule D form.
--}}
<div class="dt-details__sect">
  <table>
    <caption>Committee information</caption>
    {{#dtDetailsTableRow "Name"~}}
      <a href="{{basePath}}/committee/{{committee_id}}">{{committee.name}}</a>
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Type"~}}
      {{committee.committee_type_full}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Designation"~}}
      {{committee.designation_full}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Most recent treasurer"~}}
      {{committee.treasurer_name}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "City, state and ZIP code"~}}
      {{committee.city}}, {{committee.state}}  {{zipCode committee.zip}}
    {{/dtDetailsTableRow}}
  </table>
</div>

<div class="dt-details__sect">
  <table>
    <caption>Creditor/debtor</caption>
    {{#dtDetailsTableRow "Name"~}}
      {{#if creditor_debtor_name}}
        {{creditor_debtor_name}}
      {{/if}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "City, state and ZIP code"~}}
      {{creditor_debtor_city}}, {{creditor_debtor_state}}  {{zipCode creditor_debtor_zip}}
    {{/dtDetailsTableRow}}
  </table>
</div>

<div class="dt-details__sect">
  <table>
    <caption>Debt information</caption>
    {{#dtDetailsTableRow "Nature of debt"~}}
      {{nature_of_debt}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Date"~}}
      {{{datetime coverage_start_date format="pretty"}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Line number"~}}
      {{line_number}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Balance at beginning of period"~}}
        {{{currency outstanding_balance_beginning_of_period}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Amount incurred this period"~}}
      {{{currency amount_incurred_period}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Amount paid this period"~}}
      {{{currency payment_period}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Balance at close of period"~}}
      {{{currency outstanding_balance_close_of_period}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Report year"~}}
      {{{report_year}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Report type"~}}
      {{{report_type}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Line number"~}}
      {{#if (eq line_number "9")}}
        Debts and obligations owed to the committee (Line 9)
      {{else if (eq line_number "10")}}
        Debts and obligations owed by the committee (Line 10)
      {{else if (eq line_number "11")}}
        Debts and obligations owed to the committee (Line 11)
      {{else if (eq line_number "12")}}
        Debts and obligations owed by the committee (Line 12)
      {{/if}}
    {{/dtDetailsTableRow}}
  </table>
</div>
