{{!--
Template for Debts datatable details panel
---------------------
This shows fields available on the Schedule D form.
--}}
<div class="panel__row">
  <h4 class="panel__title">Committee information</h4>
  <table>
    {{#panelRow "Name"}}
      <a href="{{basePath}}/committee/{{committee_id}}">{{committee.name}}</a>
    {{/panelRow}}
    {{#panelRow "Type"}}
      {{committee.committee_type_full}}
    {{/panelRow}}
    {{#panelRow "Designation"}}
      {{committee.designation_full}}
    {{/panelRow}}
    {{#panelRow "Most recent treasurer"}}
      {{committee.treasurer_name}}
    {{/panelRow}}
    {{#panelRow "City, state and ZIP code"}}
      {{committee.city}}, {{committee.state}}  {{zipCode committee.zip}}
    {{/panelRow}}
  </table>
</div>

<div class="panel__row">
  <h4 class="panel__title">Creditor/debtor</h4>
  <table>
    {{#panelRow "Name"}}
      {{#if creditor_debtor_name}}
        {{creditor_debtor_name}}
      {{/if}}
    {{/panelRow}}
    {{#panelRow "City, state and ZIP code"}}
      {{creditor_debtor_city}}, {{creditor_debtor_state}}  {{zipCode creditor_debtor_zip}}
    {{/panelRow}}
  </table>
</div>

<div class="panel__row">
  <h4 class="panel__title">Debt information</h4>
  <table>
    {{#panelRow "Nature of debt"}}
      {{nature_of_debt}}
    {{/panelRow}}
    {{#panelRow "Date"}}
      {{{datetime coverage_start_date format="pretty"}}}
    {{/panelRow}}
    {{#panelRow "Line number"}}
      {{line_number}}
    {{/panelRow}}
    {{#panelRow "Balance at beginning of period"}}
        {{{currency outstanding_balance_beginning_of_period}}}
    {{/panelRow}}
    {{#panelRow "Amount incurred this period"}}
      {{{currency amount_incurred_period}}}
    {{/panelRow}}
    {{#panelRow "Amount paid this period"}}
      {{{currency payment_period}}}
    {{/panelRow}}
    {{#panelRow "Balance at close of period"}}
      {{{currency outstanding_balance_close_of_period}}}
    {{/panelRow}}
    {{#panelRow "Report year"}}
      {{{report_year}}}
    {{/panelRow}}
    {{#panelRow "Report type"}}
      {{{report_type}}}
    {{/panelRow}}
    {{#panelRow "Line number"}}
      {{#if (eq line_number "9")}}
        Debts and obligations owed to the committee (Line 9)
      {{else if (eq line_number "10")}}
        Debts and obligations owed by the committee (Line 10)
      {{else if (eq line_number "11")}}
        Debts and obligations owed to the committee (Line 11)
      {{else if (eq line_number "12")}}
        Debts and obligations owed by the committee (Line 12)
      {{/if}}
    {{/panelRow}}
  </table>
</div>
