<div class="dt-details__sect">
  <table>
    <caption>Recipient information</caption>
    {{#dtDetailsTableRow "Recipient name"~}}
      {{#if recipient~}}
        <a href="{{basePath}}/committee/{{recipient.committee_id}}">{{recipient.name}}</a>
      {{else~}}
        {{recipient_name}}
      {{/if}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Recipient city, state and ZIP code"~}}
      {{recipient_city}}, {{recipient_state}}  {{zipCode recipient_zip}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Beneficiary committee name"~}}
      {{beneficiary_committee_name}}
    {{/dtDetailsTableRow}}
  </table>
</div>

<div class="dt-details__sect">
  <table>
    <caption>Transaction information</caption>
    {{#dtDetailsTableRow "Amount"~}}
      {{{currency disbursement_amount}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Disbursement date"~}}
      {{{datetime disbursement_date format="pretty"}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Report year"~}}
      {{{report_year}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Filing date"~}}
      {{{datetime receipt_date format="pretty"}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Description"~}}
      {{disbursement_description}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Purpose category"~}}
      {{disbursement_purpose_category}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Memo"~}}
      {{memo_text}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Memo code"~}}
      {{memoed_subtotal}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Reported on"~}}
      Form {{formNumber filing_form}} on line {{line_number}}
    {{/dtDetailsTableRow}}    
    {{#if election_type_full}}
      {{#dtDetailsTableRow "Election type"~}}
        {{election_type_full}}
      {{/dtDetailsTableRow}}
    {{/if}}
  </table>
</div>

<div class="dt-details__sect">
  <table>
    <caption>Committee information</caption>
    {{#dtDetailsTableRow "Name"~}}
      <a href="{{basePath}}/committee/{{committee_id}}">{{committee.name}}</a>
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Designation"~}}
      {{committee.designation_full}}
    {{/dtDetailsTableRow}}
    {{#if committee.type}}
      {{#dtDetailsTableRow "Type"~}}
        {{committee.type_full}}
      {{/dtDetailsTableRow}}
    {{/if}}
    {{#dtDetailsTableRow "Treasurer"~}}
      {{committee.treasurer_name}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Committee city, state and ZIP code"~}}
      {{committee.city}}, {{committee.state}}  {{zipCode committee.zip}}
    {{/dtDetailsTableRow}}
  </table>
</div>
