<div class="dt-details__sect">
  <table>
    <caption class="details__title">Disbursement information</caption>
    {{#dtDetailsTableRow "Spender"~}}
      <a href="{{basePath}}/committee/{{committee_id}}">{{committee_name}}</a>
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Amount"~}}
      {{currency disbursement_amount}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Number of candidates mentioned"~}}
      {{number_of_candidates}}
    {{/dtDetailsTableRow}}
    <tr>
      <th scope="row">
        <span>Amount per candidate</span>
        <div class="tooltip__container">
          <button class="tooltip__trigger" type="button"><span class="u-visually-hidden">Learn more</span></button>
          <div id="unique-tooltip" role="tooltip" class="tooltip tooltip--under">
            <p class="tooltip__content">To help users work with this data, we divide each itemized disbursement amount by the number of federal candidates named in connection with that disbursement. The resulting amount is listed here.</p>
          </div>
        </div>
      </th>
      <td>
        {{currency calculated_candidate_share}}
      </td>
    </tr>
    {{#dtDetailsTableRow "Report year"~}}
      {{report_year}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Disbursement date"~}}
      {{datetime disbursement_date format=pretty}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Communication date"~}}
      {{datetime communication_date format=pretty}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Purpose description"~}}
      {{purpose_description}}
    {{/dtDetailsTableRow}}
  </table>
</div>

<div class="dt-details__sect">
  <table>
    <caption class="details__title">Candidate information</caption>
    {{#dtDetailsTableRow "Candidate"~}}
      <a href="{{basePath}}/candidate/{{candidate_id}}/">{{candidate_name}}</a>
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Office"~}}
      {{decodeOffice candidate_office}}
    {{/dtDetailsTableRow}}
    {{#if candidate_state}}
      {{#dtDetailsTableRow "State"~}}
        {{decodeState candidate_state}}
      {{/dtDetailsTableRow}}
    {{/if}}
    {{#unless (eq candidate_district '00')}}
      {{#dtDetailsTableRow "District"~}}
        {{candidate_district}}
      {{/dtDetailsTableRow}}
    {{/unless}}
  </table>
</div>
