<div class="dt-details__sect">
  <table>
    <caption>Expenditure information</caption>
    {{#dtDetailsTableRow "Version"~}}
      {{{amendment_version}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Amount"~}}
      {{currency expenditure_amount}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Expenditure date"~}}
      {{datetime expenditure_date format="pretty"}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Dissemination date"~}}
      {{datetime dissemination_date format="pretty"}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Candidate"~}}
      {{#if candidate_id~}}
        <a href="{{basePath}}/candidate/{{candidate_id}}/">{{candidate_name}}</a>
      {{else~}}
        {{candidate_name}}
      {{/if}}
      ({{decodeSupportOppose support_oppose_indicator}})
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Description"~}}
      {{expenditure_description}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Payee"~}}
      {{payee_name}}<br>{{payee_city}}, {{payee_state}}
    {{/dtDetailsTableRow}}
  </table>
</div>

<div class="dt-details__sect">
  <table>
    <caption>Filing information</caption>
    {{#dtDetailsTableRow "Report type"~}}
      {{decodeReport report_type}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Form type"~}}
      {{decodeForm filing_form}} ({{filing_form}})
    {{/dtDetailsTableRow}}
  </table>
</div>

<div class="dt-details__sect">
  <table>
    <caption>Committee information</caption>
    {{#dtDetailsTableRow "Committee name"~}}
      <a href="{{basePath}}/committee/{{committee_id}}">{{committee.name}}</a>
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Committee type"~}}
      {{committee.committee_type_full}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Treasurer"~}}
      {{committee.treasurer_name}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "City and state"~}}
      {{committee.city}}, {{committee.state}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Total spent on office (year to date)"~}}
      {{currency office_total_ytd}}
    {{/dtDetailsTableRow}}
  </table>
</div>

<div class="dt-details__sect">
  <table>
    <caption>Candidate information</caption>
    {{#dtDetailsTableRow "Candidate"~}}
      {{#if candidate_id~}}
        <a href="{{basePath}}/candidate/{{candidate_id}}/">{{candidate_name}}</a>
      {{else~}}
        {{candidate_name}}
      {{/if}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Office"~}}
      {{decodeOffice candidate_office}}
    {{/dtDetailsTableRow}}
    {{#if candidate_state }}
      {{#dtDetailsTableRow "State"~}}
        {{cand_office_state}}
      {{/dtDetailsTableRow}}
    {{/if}}
    {{#if candidate_district}}
      {{#dtDetailsTableRow "District"~}}
        {{cand_office_district}}
      {{/dtDetailsTableRow}}
    {{/if}}
  </table>
</div>
