{{!--
Template for Loans datatable details row
---------------------
This shows all the fields available on the Schedule C form.
--}}

<div class="dt-details__sect">
  <table>
    <caption>Committee information</caption>
    {{#dtDetailsTableRow "Name"~}}
      <a href="{{basePath}}/committee/{{committee_id}}">{{committee.name}}</a>
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Committee city, state and ZIP code"~}}
      {{committee.city}}, {{committee.state}}  {{zipCode committee.zip}}
    {{/dtDetailsTableRow}}
  </table>
</div>

<div class="dt-details__sect">
  <table>
    <caption>Loan Source information</caption>
    {{#dtDetailsTableRow "Loan source name"~}}
      {{#if loan_source_name~}}
        {{loan_source_name}}
      {{/if}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "City and state"~}}
      {{loan_source_city}}, {{loan_source_state}}
    {{/dtDetailsTableRow}}
  </table>
</div>

<div class="dt-details__sect">
  <table>
    <caption>Loan information</caption>
    {{#dtDetailsTableRow "Original Amount of Loan"~}}
      {{{currency original_loan_amount}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Cumulative Payment to Date"~}}
      {{{currency payment_to_date}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Balance Outstanding at Close of This Period"~}}
      {{{currency loan_balance}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Interest Rate"~}}
      {{interest_rate_terms}} %
    {{/dtDetailsTableRow}}
  </table>
</div>
