{{!--
Template for Loans datatable details panel
---------------------
This shows all the fields available on the Schedule C form.
--}}

<div class="panel__row">
  <h4 class="panel__title">Committee information</h4>
  <table>
    {{#panelRow "Name"}}
      <a href="{{basePath}}/committee/{{committee_id}}">{{committee.name}}</a>
    {{/panelRow}}
    {{#panelRow "Committee city and state"}}
      {{committee.city}}, {{committee.state}}, {{committee.zip}}
    {{/panelRow}}
  </table>
</div>

<div class="panel__row">
  <h4 class="panel__title">Loan Source information</h4>
  <table>
    {{#panelRow "Loan source name"}}
      {{#if loan_source_name}}
        {{loan_source_name}}
      {{/if}}
    {{/panelRow}}
    {{#panelRow "City and state"}}
      {{loan_source_city}}, {{loan_source_state}}
    {{/panelRow}}
  </table>
</div>

<div class="panel__row">
  <h4 class="panel__title">Loan information</h4>
  <table>
    {{#panelRow "Original Amount of Loan"}}
      {{{currency original_loan_amount}}}
    {{/panelRow}}
    {{#panelRow "Cumulative Payment to Date"}}
      {{{currency payment_to_date}}}
    {{/panelRow}}
    {{#panelRow "Balance Outstanding at Close of This Period"}}
      {{{currency loan_balance}}}
    {{/panelRow}}
    {{#panelRow "Interest Rate"}}
      {{interest_rate_terms}} %
    {{/panelRow}}
  </table>
</div>
