{{!--
Template for national party accounts disbursements datatable details row
--}}
<div class="dt-details__sect">
  <table>
    <caption>Recipient information</caption>
    {{#dtDetailsTableRow "Name"~}}
      {{#if recipient_committee_id~}}
        <a href="/data/committee/{{recipient_committee_id}}/">{{recipient_name}}</a>
      {{else~}}
      {{recipient_name}}
      {{/if}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "City, state and ZIP code"~}}
      {{recipient_city}}, {{recipient_state}}  {{zipCode recipient_zip}}
    {{/dtDetailsTableRow}}
  </table>
</div>

<div class="dt-details__sect">
  <table>
    <caption>Disbursement information</caption>
    {{#dtDetailsTableRow "Amount"~}}
      {{currency disbursement_amount}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Disbursement date"~}}
      {{{datetime disbursement_date format="pretty"}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Report year"~}}
      {{report_year}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Description"~}}
      {{disbursement_description}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Purpose category"~}}
      {{disbursement_purpose_category}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Disbursement type"~}}
      {{disbursement_type_desc}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Memo"~}}
      {{memo_text}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Memo code"~}}
      {{memo_cd_desc}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Reported on"~}}
      {{filing_form}} on Line {{line_number}}
    {{/dtDetailsTableRow}}
  </table>
</div>

<div class="dt-details__sect">
  <table>
    <caption>Spender information</caption>
    {{#dtDetailsTableRow "Name"~}}
      <a href="{{entityUrl this type="committee"}}">{{committee_name}}</a>
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Designation"~}}
      {{spender_committee_designation}} {{!-- TODO: this will change to spender_committee_designation_full --}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Treasurer"~}}
      {{treasurer_name}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "State"~}}
      {{state_full}}
    {{/dtDetailsTableRow}}
  </table>
</div>
