{{!--
Template for national party accounts disbursements datatable details panel
--}}
<div class="panel__row">
  <h4 class="panel__title">Source information</h4>
  <table>
    {{#panelRow "Name"}}
      {{#if contributor_id}}{{! If there's a contributor_id}}
        {{#if (stringsMatch entity_type 'IND')}}{{! If this is an individual and not a committee }}
        {{contributor_name}}{{! Don't link the name }}
        {{else}}{{! Otherwise, if it's not an individual, }}
        <a href="/data/committee/{{contributor_id}}/">{{contributor_name}}</a>{{! Link the name }}
        {{/if}}
      {{else}}{{! Otherwise, if there's no contributor_id, }}
        {{contributor_name}}{{! There's no id to link }}
      {{/if}}
    {{/panelRow}}
    {{#panelRow "City, state and ZIP code"}}
      {{contributor_city}}, {{contributor_state}}  {{zipCode contributor_zip}}
    {{/panelRow}}
    {{#panelRow "Occupation"}}
      {{contributor_occupation}}
    {{/panelRow}}
    {{#panelRow "Employer"}}
      {{contributor_employer}}
    {{/panelRow}}
    {{#panelRow "Year to date"}}
      {{{currency contributor_aggregate_ytd}}}
    {{/panelRow}}
  </table>
</div>

<div class="panel__row">
  <h4 class="panel__title">Receipt information</h4>
  <table>
    {{#panelRow "Amount"}}
      {{{currency contribution_receipt_amount}}}
    {{/panelRow}}
    {{#panelRow "Receipt date"}}
      {{{datetime contribution_receipt_date format="pretty"}}}
    {{/panelRow}}
    {{#panelRow "Report year"}}
      {{report_year}}
    {{/panelRow}}
    {{#panelRow "Receipt type"}}
      {{receipt_type_desc}}
    {{/panelRow}}
    {{#panelRow "Memo"}}
      {{memo_text}}
    {{/panelRow}}
    {{#panelRow "Reported on"}}
      {{filing_form}} on Line {{line_num}}
    {{/panelRow}}
    {{#panelRow "Election type"}}
      {{fec_election_type_desc}}
    {{/panelRow}}
  </table>
</div>

<div class="panel__row">
  <h4 class="panel__title">Recipient information</h4>
  <table>
    {{#panelRow "Committee"}}
      <a href="{{entityUrl this type="committee"}}">{{committee_name}}</a>
    {{/panelRow}}
    {{#panelRow "Political party"}}
      {{party_full}}
    {{/panelRow}}
    {{#panelRow "Type"}}
      {{recipient_committee_type_full}}
    {{/panelRow}}
    {{#panelRow "State"}}
        {{state_full}}
    {{/panelRow}}
  </table>
</div>
