<div class="mega-container">
  <div class="mega mega--secondary">
    <div class="mega__inner">
      <div class="mega-heading">
        <h2 class="mega-heading__title"><a href="{{cmsUrl}}/help-candidates-and-committees">Candidates and committees home</a></h2>
      </div>
      <div class="row">
        <div class="usa-width-one-third mega__intro">
          <p>Learn more about the groups that are active in federal elections and the requirements that apply to them.</p>
          <p><a href="{{cmsUrl}}/help-candidates-and-committees" class="button button--alt-primary">Get started &raquo;</a></p>
        </div>
        <ul class="usa-width-one-third mega__list">
          <li><a class="mega__page-link" href="{{cmsUrl}}/help-candidates-and-committees#campaign-guidance">Campaign guidance</a></li>
          <li><a class="mega__page-link" href="{{cmsUrl}}/help-candidates-and-committees/forms">Forms</a></li>
        </ul>
        <ul class="usa-width-one-third mega__list">
          <li><a class="mega__page-link" href="{{cmsUrl}}/help-candidates-and-committees/dates-and-deadlines">Dates and deadlines</a></li>
          <li><a class="mega__page-link" href="{{transitionUrl}}/info/outreach.shtml">Trainings</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
