{{!--
Template for PAC and party committee datatable details row
--}}
<h4 class="dt-details__title"><a href="{{basePath}}/committee/{{committee_id}}/">{{committee_name}}</a></h4>

<div class="dt-details__sect">
  <table>
    <caption>Committee information</caption>
    {{#dtDetailsTableRow "Committee type"~}}
      {{committee_type_full}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Designation"~}}
      {{committee_designation_full}}
    {{/dtDetailsTableRow}}
    {{#if party_full}}
      {{#dtDetailsTableRow "Political party"~}}
        {{party_full}}
      {{/dtDetailsTableRow}}
    {{/if}}
    {{#if sponsor_candidate_list}}
      {{#dtDetailsTableRow "Leadership PAC sponsor"~}}
        {{#each sponsor_candidate_list~}}
          <a href="{{basePath}}/candidate/{{sponsor_candidate_id}}/"><span class="leadership_pac_sponsor_name">{{sponsor_candidate_name}}</span> ({{sponsor_candidate_id}})</a>{{#unless @last}};<br />{{/unless}}
        {{/each}}
      {{/dtDetailsTableRow}}
    {{/if}}
    {{#dtDetailsTableRow "Most recent treasurer"~}}
      {{treasurer_name}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "State"~}}
      {{committee_state}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Filing frequency"~}}
      {{filing_frequency_full}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Registration date"~}}
      {{datetime first_f1_date format="pretty"}}
    {{/dtDetailsTableRow}}
    {{#if (eq committee_designation_full "Joint fundraising committee")}}
    {{#dtDetailsTableRow "Joint fundraising participants"~}}
      <a href="{{basePath}}/committee/{{committee_id}}/?tab=about-committee">Full list of current participants</a>
    {{/dtDetailsTableRow}}
    {{/if}}
  </table>
</div>

<div class="dt-details__sect">
  <table>
    <caption>Financial totals for {{format_range cycle}}</caption>
    {{#dtDetailsTableRow "Coverage end date"~}}
      {{datetime coverage_end_date format="pretty"}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Receipts"~}}
      {{currency receipts}}
    {{/dtDetailsTableRow}}
    <tr>
      <th scope="row">
        Individual contributions
        <div class="tooltip__container">
          <button class="tooltip__trigger" type="button"><span class="u-visually-hidden">Learn more</span></button>
          <div id="unique-tooltip" role="tooltip" class="tooltip tooltip--under tooltip--left">
            <p class="tooltip__content">Individual contributions include itemized and unitemized contributions from the Form 3X Detailed Summary page line 11(a)(iii).</p>
          </div>
        </div>
      </th>
      <td>
        {{currency individual_contributions}}
      </td>
    </tr>
    {{#dtDetailsTableRow "Disbursements"~}}
      {{currency disbursements}}
    {{/dtDetailsTableRow}}
    <tr>
      <th scope="row">
        Ending cash on hand
        <div class="tooltip__container">
          <button class="tooltip__trigger" type="button"><span class="u-visually-hidden">Learn more</span></button>
          <div id="unique-tooltip" role="tooltip" class="tooltip tooltip--under tooltip--left">
            <p class="tooltip__content">The total amount of cash on hand that remains after the amount of cash on hand at the beginning of the reporting period is adjusted to add the total receipts for the reporting period and subtract the total disbursements for the reporting period.</p>
          </div>
        </div>
      </th>
      <td>
        {{currency last_cash_on_hand_end_period}}
      </td>
    </tr>
    {{#dtDetailsTableRow "Debts owed by committee"~}}
      {{currency last_debts_owed_by_committee}}
    {{/dtDetailsTableRow}}
  </table>
</div>
