<div class="dt-details__sect">
  <table>
    <caption>Source information</caption>
    {{#dtDetailsTableRow "Name"~}}
      {{#if contributor~}}
        {{#if (isEarmarked receipt_type)~}}
          {{contributor_name}}
        {{else~}}
          <a href="{{basePath}}/committee/{{contributor.committee_id}}">{{contributor.name}}</a>
        {{/if}}
      {{else~}}
        {{contributor_name}}
      {{/if}}
    {{/dtDetailsTableRow}}
    {{#if contributor~}}
      {{#if (isEarmarked receipt_type)~}}
        {{#dtDetailsTableRow "Earmarked by"~}}
          <a href="{{basePath}}/committee/{{contributor.committee_id}}">{{contributor.name}}</a>
        {{/dtDetailsTableRow}}
      {{/if}}
    {{/if}}
    {{#dtDetailsTableRow "City, state and ZIP code"~}}
      {{contributor_city}}, {{contributor_state}} {{zipCode contributor_zip}}
    {{/dtDetailsTableRow}}
    {{#if is_individual}}
      {{#dtDetailsTableRow "Occupation"~}}
        {{contributor_occupation}}
      {{/dtDetailsTableRow}}
      {{#dtDetailsTableRow "Employer"~}}
        {{contributor_employer}}
      {{/dtDetailsTableRow}}
    {{/if}}
    {{#dtDetailsTableRow "Year to date"~}}
      {{{currency contributor_aggregate_ytd}}}
    {{/dtDetailsTableRow}}
  </table>
</div>

<div class="dt-details__sect">
  <table>
    <caption>Receipt information</caption>
    {{#dtDetailsTableRow "Amount"~}}
      {{{currency contribution_receipt_amount}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Receipt date"~}}
      {{{datetime contribution_receipt_date format="pretty"}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Report year"~}}
      {{{report_year}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Memo"~}}
      {{memo_text}}
    {{/dtDetailsTableRow}}
    {{#if filing_form}}
      {{#dtDetailsTableRow "Reported on"~}}
        Form {{formNumber filing_form}} on line {{line_number}}
      {{/dtDetailsTableRow}}
    {{/if}}
    {{#dtDetailsTableRow "Election type"~}}
      {{fec_election_type_desc}}
    {{/dtDetailsTableRow}}
  </table>
</div>

<div class="dt-details__sect">
  <table>
    <caption>Recipient information</caption>
    {{#dtDetailsTableRow "Committee"~}}
      <a href="{{basePath}}/committee/{{committee.committee_id}}/">{{committee.name}}</a>
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Political party"~}}
      {{committee.party_full}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Type"~}}
      {{committee.committee_type_full}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "State"~}}
      {{committee.state_full}}
    {{/dtDetailsTableRow}}
  </table>
</div>
