<div class="tooltip tooltip--under calendar__details">
  <button class="button button--close--primary js-close" type="button"><span class="u-visually-hidden">Close</span></button>
  <span class="t-block t-bold">
    {{#if allDay}}
      {{datetime start}}
    {{else}}
      {{datetime start format="dateTime"}}&ndash;{{datetime end format="dateTime"}}
    {{/if}}
  </span>
  <span class="t-block t-bold">{{ title }}</span>
  <span class="t-block">{{ summary }}</span>
  {{#if location }}
    <span class="t-block"><span class="t-bold">Location: </span>{{ location }}</span>
  {{/if}}
  <div class="dropdown dropdown--secondary">
    <button class="button button--neutral dropdown__button button--calendar">Add to calendar</button>
    <ul class="dropdown__panel" aria-hidden="true">
      <li class="dropdown__item"><a class="dropdown__value" href="{{download}}">Apple Calendar</a></li>
      <li class="dropdown__item"><a class="dropdown__value" href="{{google}}" target="_blank">Google Calendar</a></li>
      <li class="dropdown__item"><a class="dropdown__value" href="{{download}}">Outlook Calendar</a></li>
    </ul>
  </div>
</div>
