{{#each groups}}
  <hr>
  <h4>{{title}}</h4>
  {{#each events}}
    <div class="row">
      <div class="usa-width-one-sixth">{{datetime start format="pretty"}}</div>
      <div class="usa-width-one-sixth">
        {{#if end}}
          {{datetime start format="time"}} - {{datetime end format="time"}}
        {{else}}
          &nbsp;
        {{/if}}
      </div>
      <div class="usa-width-one-half">
        <div class="ev-list">
        <h5>{{title}}</h5>
        <p>{{summary}}</p>
        </div>
      </div>
      <div class="usa-width-one-sixth">{{location}}</div>
    </div>
  {{/each}}
{{/each}}
