<div class="message message--info">
  <p>We don't have itemized {{dataType}} for <strong>{{name}}</strong> in <strong>{{timePeriod}}</strong>.</p>
  <p>This can be because:</p>
  <ul class="list--bulleted">
    {{#if reason }}
      <li>{{reason}}</li>
    {{/if}}
    <li>There hasn't been a filing deadline yet or</li>
    <li>A filing deadline has passed, but the FEC hasn’t finished processing the financial data</li>
  </ul>
  <p>To find the most recent activity for this candidate or committee, try changing the election cycle.</p>
  <div class="message--alert__bottom">
    <p>Think this was a mistake?</p>
    <p>Send us an <a href="mailto:{{ email }}">email</a> or file a <a href="https://github.com/18f/fec/issues">GitHub issue</a>.
  </div>
</div>
