<div class="dt-details__sect">
  <div class="dt-details__heading">
    <h4 class="dt-details__title">{{document_description}}
    {{#if is_amended}}
      (This report has been amended)
    {{/if}}
    </h4>
    {{#if amendment_version_description}}
    <i class="icon-document--inline--left"></i>
    {{{amendment_version_description}}} |
    {{/if}}
    {{{amendment_version}}}
  </div>
  <table>
    {{#dtDetailsTableRow "Filer"~}}
      <a href="{{basePath}}/committee/{{committee_id}}">{{committee_name}}</a>
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "FEC file number"~}}
      {{fec_file_id}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Report coverage"~}}
      {{datetime coverage_start_date format="pretty"}} to {{datetime coverage_end_date format="pretty"}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Receipt date"~}}
      {{datetime receipt_date format="pretty"}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Filing method"~}}
      {{decodeMeans means_filed}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Read report"~}}
      {{#if html_url~}}
        <a target="_blank" href="{{html_url}}">Webpage</a> |
      {{/if}}
      {{#if csv_url~}}
      <a target="_blank" href="{{csv_url}}">.csv</a> |
      {{/if}}
      {{#if pdf_url~}}
      <a target="_blank" href="{{pdf_url}}">.pdf</a>
      {{/if}}
      {{#if fec_url~}}
      | <a target="_blank" href="{{fec_url}}">.fec</a>
      {{/if}}
    {{/dtDetailsTableRow}}
  </table>
</div>

<div class="dt-details__sect">
  <table>
    <caption>Raising</caption>
    {{#dtDetailsTableRow "Total receipts"~}}
      {{{currency total_receipts_period}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Individual contributions"~}}
      {{{currency total_individual_contributions_period}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Itemized individual contributions"~}}
      {{{currency individual_itemized_contributions_period}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Unitemized individual contributions"~}}
      {{{currency individual_unitemized_contributions_period}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Contributions from PACs"~}}
      {{{currency political_party_committee_contributions_period}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Total contribution refunds"~}}
      {{{currency total_contribution_refunds_period}}}
    {{/dtDetailsTableRow}}
    {{#if net_contributions_period}}
      {{#dtDetailsTableRow "Net contributions period"~}}
        {{{currency net_contributions_period}}}
      {{/dtDetailsTableRow}}
    {{else}}
      {{#dtDetailsTableRow "Net contributions cycle to date"~}}
        {{{currency net_contributions_cycle_to_date}}}
      {{/dtDetailsTableRow}}
    {{/if}}
    {{#if federal_funds_period}}
      {{#dtDetailsTableRow "Presidential public funds accepted"~}}
        {{{currency federal_funds_period}}}
      {{/dtDetailsTableRow}}
    {{/if}}
  </table>
</div>

<div class="dt-details__sect">
  <div class="details__heading">
    <h4 class="details__title">Spending</h4>
  </div>
  <table>
    {{#dtDetailsTableRow "Total disbursements"~}}
      {{{currency total_disbursements_period}}}
    {{/dtDetailsTableRow}}
    {{#if net_operating_expenditures_period}}
      {{#dtDetailsTableRow "Net operating expenditures period"~}}
        {{{currency net_operating_expenditures_period}}}
      {{/dtDetailsTableRow}}
    {{else}}
      {{#dtDetailsTableRow "Net operating expenditures cycle to date"~}}
        {{{currency net_operating_expenditures_cycle_to_date}}}
      {{/dtDetailsTableRow}}
    {{/if}}
    {{#dtDetailsTableRow "Transfers to authorized committees"~}}
      {{{currency transfers_to_other_authorized_committee_period}}}
    {{/dtDetailsTableRow}}
  </table>
</div>
<div class="dt-details__sect">
  <div class="details__heading">
    <h4 class="details__title">Cash on hand</h4>
  </div>
  <table>
    {{#dtDetailsTableRow "Beginning cash on hand"~}}
      {{{currency cash_on_hand_beginning_period}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Ending cash on hand"~}}
      {{{currency cash_on_hand_end_period}}}
    {{/dtDetailsTableRow}}
  </table>
</div>
<div class="dt-details__sect">
  <div class="details__heading">
    <h4 class="details__title">Debts</h4>
  </div>
  <table>
    {{#dtDetailsTableRow "Debts owed by committee"~}}
      {{{currency debts_owed_by_committee}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Debts owed to committee"~}}
      {{{currency debts_owed_to_committee}}}
    {{/dtDetailsTableRow}}
  </table>
</div>
<div class="dt-details__sect">
  <div class="details__heading">
    <h4 class="details__title">Loans</h4>
  </div>
  <table>
    {{#dtDetailsTableRow "Total loans received"~}}
      {{{currency total_loans_received_period}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Loan repayments made"~}}
      {{{currency total_loan_repayments_made_period}}}
    {{/dtDetailsTableRow}}
  </table>
</div>
