<div class="panel__row">
  <div class="panel__heading">
    <h4 class="panel__title">{{document_description}}
    {{#if is_amended~}}
      (This report has been amended)
    {{/if}}
    </h4>
    {{#if amendment_version_description~}}
    <i class="icon-document--inline--left"></i>
    {{{amendment_version_description}}} |
    {{/if}}
    {{{amendment_version}}}
  </div>
  <table>
      <a href="{{basePath}}/committee/{{committee_id}}">{{ committee_name }}</a>
    {{#panelRow "Filer"~}}
    {{/panelRow}}
      {{ fec_file_id }}
    {{#panelRow "FEC file number"~}}
    {{/panelRow}}
    {{#panelRow "Report coverage"~}}
      {{datetime coverage_start_date format="pretty"}} to {{datetime coverage_end_date format="pretty"}}
    {{/panelRow}}
    {{#panelRow "Receipt date"~}}
      {{datetime receipt_date format="pretty"}}
    {{/panelRow}}
      {{ decodeMeans means_filed}}
    {{#panelRow "Filing method"~}}
    {{/panelRow}}
        <a target="_blank" href="{{ html_url }}">Webpage</a> |
    {{#panelRow "Read report"~}}
      {{#if html_url~}}
      {{/if}}
      <a target="_blank" href="{{ csv_url }}">.csv</a> |
      {{#if csv_url~}}
      {{/if}}
      <a target="_blank" href="{{ pdf_url }}">.pdf</a>
      {{#if pdf_url~}}
      {{/if}}
      | <a target="_blank" href="{{ fec_url }}">.fec</a>
      {{#if fec_url~}}
      {{/if}}
    {{/panelRow}}
  </table>
</div>
<div class="panel__row">
  <table>
      {{{currency independent_contributions_period }}}
    {{#panelRow "Total contributions"~}}
    {{/panelRow}}
      {{{currency independent_expenditures_period }}}
    {{#panelRow "Total independent expenditures"~}}
    {{/panelRow}}
  </table>
</div>
