<div class="dt-details__sect">
  <div class="dt-details__heading">
    <h4 class="dt-details__title">{{document_description}}
    {{#if is_amended}}
      (This report has been amended)
    {{/if}}
    </h4>
    {{#if amendment_version_description}}
    <i class="icon-document--inline--left"></i>
    {{{amendment_version_description}}} |
    {{/if}}
    {{{amendment_version}}}
  </div>
  <table>
    {{#dtDetailsTableRow "Filer"~}}
      <a href="{{basePath}}/committee/{{committee_id}}">{{committee_name}}</a>
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "FEC file number"~}}
      {{fec_file_id}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Report coverage"~}}
      {{datetime coverage_start_date format="pretty"}} to {{datetime coverage_end_date format="pretty"}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Receipt date"~}}
      {{datetime receipt_date format="pretty"}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Filing method"~}}
      {{decodeMeans means_filed}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Read report"~}}
      {{#if html_url~}}
        <a target="_blank" href="{{html_url}}">Webpage</a> |
      {{/if}}
      {{#if csv_url~}}
      <a target="_blank" href="{{csv_url}}">.csv</a> |
      {{/if}}
      {{#if pdf_url~}}
      <a target="_blank" href="{{pdf_url}}">.pdf</a>
      {{/if}}
      {{#if fec_url}}
      | <a target="_blank" href="{{fec_url}}">.fec</a>
      {{/if}}
    {{/dtDetailsTableRow}}
  </table>
</div>

{{!-- TODO: should this table have a title? I don't like the wider widths when it doesn't --}}
<div class="dt-details__sect">
  <table>
    {{#dtDetailsTableRow "Total receipts"~}}
      {{{currency total_receipts_period}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Total disbursements"~}}
      {{{currency total_disbursements_period}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Individual contributions"~}}
      {{{currency total_individual_contributions_period}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Itemized individual contributions"~}}
      {{{currency individual_itemized_contributions_period}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Unitemized individual contributions"~}}
      {{{currency individual_unitemized_contributions_period}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Beginning cash on hand"~}}
      {{{currency cash_on_hand_beginning_period}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Ending cash on hand"~}}
      {{{currency cash_on_hand_end_period}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Net contributions"~}}
      {{{currency net_contributions_period}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Net operating expenditures"~}}
      {{{currency net_operating_expenditures_period}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Debts owed by committee"~}}
      {{{currency debts_owed_by_committee}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Coordinated expenditures by party committee this period"~}}
      {{{currency coordinated_expenditures_by_party_committee_period}}}
    {{/dtDetailsTableRow}}
    {{#dtDetailsTableRow "Independent expenditures this period"~}}
      {{{currency independent_expenditures_period}}}
    {{/dtDetailsTableRow}}
  </table>
</div>
